AUTONOMOAV_MACOS_BUNDLE_IDENTIFIER = com.avalsys.autonomoav.mac
AUTONOMOAV_APP_GROUP_IDENTIFIER = group.com.avalsys.autonomoav
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = $(AUTONOMOAV_MACOS_BUNDLE_IDENTIFIER)
AUTONOMOAV_DISPLAY_NAME = Autonomo AV
AUTONOMOAV_CONFIG_ENVIRONMENT = prod
ACCOUNTAV_PUBLISHABLE_KEY = $(inherited)
ACCOUNTAV_KEYCHAIN_SERVICE = $(AUTONOMOAV_MACOS_BUNDLE_IDENTIFIER).account.v2
ACCOUNTAV_KEYCHAIN_ACCESS_GROUP = 935PM55U6R.$(AUTONOMOAV_MACOS_BUNDLE_IDENTIFIER)
SUPPORT_EMAIL_TO = $(inherited)
SUPPORTAV_BASE_URL = $(inherited)
ACCOUNTAV_API_BASE_URL = $(inherited)
AUTONOMOAV_API_BASE_URL = $(inherited)
ACCOUNTAV_MANAGEMENT_URL = $(inherited)
AUTONOMOAV_DELETE_ACCOUNT_URL = $(inherited)
AUTONOMOAV_TERMS_URL = $(inherited)
AUTONOMOAV_PRIVACY_URL = $(inherited)
AUTONOMOAV_MACOS_SENTRY_DSN = $(inherited)

#include? "Local.xcconfig"
