AUTONOMOAV_BUNDLE_IDENTIFIER = com.avalsys.autonomoav
AUTONOMOAV_APP_GROUP_IDENTIFIER = group.$(AUTONOMOAV_BUNDLE_IDENTIFIER)
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
PRODUCT_BUNDLE_IDENTIFIER = $(AUTONOMOAV_BUNDLE_IDENTIFIER)
AUTONOMOAV_DISPLAY_NAME = Autonomo AV
AUTONOMOAV_CONFIG_ENVIRONMENT = prod
ACCOUNTAV_PUBLISHABLE_KEY = $(inherited)
ACCOUNTAV_KEYCHAIN_SERVICE = $(inherited)
ACCOUNTAV_KEYCHAIN_ACCESS_GROUP = 935PM55U6R.com.avalsys.autonomoav
SUPPORT_EMAIL_TO = $(inherited)
SUPPORTAV_BASE_URL = $(inherited)
ACCOUNTAV_API_BASE_URL = $(inherited)
AUTONOMOAV_API_BASE_URL = $(inherited)
ACCOUNTAV_MANAGEMENT_URL = $(inherited)
AUTONOMOAV_DELETE_ACCOUNT_URL = $(inherited)
AUTONOMOAV_TERMS_URL = $(inherited)
AUTONOMOAV_PRIVACY_URL = $(inherited)
AUTONOMOAV_REVENUECAT_PUBLIC_API_KEY = $(inherited)
AUTONOMOAV_REVENUECAT_OFFERING_ID = $(inherited)
AUTONOMOAV_REVENUECAT_MONTHLY_PACKAGE_ID = $(inherited)
AUTONOMOAV_IOS_SENTRY_DSN = $(inherited)
AUTONOMOAV_DEBUG_FORCE_PRO_MODE = NO

#include? "Local.xcconfig"
